body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root {
  margin: 0;
  padding: 0;
  flex: 1;
}


.navbar {
  width: 100%;
  background-color: #8773e2;
  padding: 15px 0;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-list li {
  margin: 0 20px;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-list a:hover {
  background-color: #6d5ae8;
}

/* Image Section */
.image-section {
  width: 100%;
  height: auto;
}

.image-section img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 5px solid #8773e2;
}

/* Footer */
.footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}